<h1>Topics</h1>

 <div class="row">
   <div class="col-md-8">
<<<<<<< HEAD
 <!-- #7 -->
=======
>>>>>>> bloccit-checkpoint22
     <% @topics.each do |topic| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
<<<<<<< HEAD
 <!-- #8 -->
=======
>>>>>>> bloccit-checkpoint22
             <%= link_to topic.name, topic %>
           </h4>
           <small>
             <%= topic.description %>
           </small>
         </div>
       </div>
     <% end %>
   </div>
   <div class="col-md-4">
<<<<<<< HEAD
 <!-- #9 -->
=======
>>>>>>> bloccit-checkpoint22
     <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
   </div>
 </div>
