<br>
 <div class="jumbotron main-body">
   <h1>Bloccit</h1>
   <div class="main-body-1">Bloccit is a resource for sharing links with your friends!</div>
   <div class ="nav-sign-ins" >
     <% if current_user %>
     <%= link_to "Checkout today's Bloccits!", topics_path, class: 'btn btn-primary' %>
     <% else %>
     <%= link_to "Sign In", new_session_path %> or
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
   </div><% end %>
 </div>

 <div class="row main-body-2">
   <div class="col-md-4">
     <h2>Share</h2>
     <p>Anyone can create a community on nearly any topic imaginable. users can share content including stories, links, and images.</p>
   </div>
   <div class="col-md-4">
     <h2>Vote</h2>
     <p> The global Bloccit community votes on which stories and discussions are important by casting upvotes or downvotes. The most interesting, funniest, impactful, or simply amazing stories rise to the top.</p>
   </div>
   <div class="col-md-4">
     <h2>Discuss</h2>
     <p>Redditors can comment on any post on Reddit. Comments are often the best part about Reddit content—they provide additional information, vigorous discussion, context, and often humor.</p>
   </div>
 </div>
