// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
   color: azure;
   font-family: 'Abril Fatface', cursive;
 }

.social-btn {
  color: #00aced;
  height: 20px;
  padding: 5 5 5 5;
  width: 100px;
  text-align: center;
}

.main-body {
  background-color: skyblue;
  text-align: center;
  height: 400px;
}


.main-body-2{
  background-color: lightgrey;
  text-align: center;
  height: 500px;
  margin: auto;
}
