// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
   color: azure;
   font-family: 'Abril Fatface', cursive;
   text-shadow: 1px 1px black;
 }

.social-btn {
  color: #00aced;
  height: 20px;
  padding: 5 5 5 5;
  width: 100px;
  text-align: center;
}

.main-body {
  // background-color: skyblue;
  text-align: center;
  height: 400px;
  margin: 0;
  background: asset-url('main-pic.png');
  color: white;
}

.main-body-1 {
  font-size: 20px;
}

.main-body-2{
  text-align: center;
  height: 400px;
  margin: auto;
}

.nav-sign-ins {
  font-size: 18px;
}

h2 {
  font-size: 39px;
  color: darkgrey;
  text-shadow: 0.9px 0.6px black;
}

p{
  font-size: 20px;
  color: darkgrey;
  text-shadow: 0.6px 0.6px black;
}
